.containerHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  width: 1300px;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(204, 183, 183);
}

.headerLeftSide {
  width: 450px;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.headerLeftSide a:nth-child(2) {
  color: #555;
  width: 100px;
  margin-top: 20px;
}
.headerLeftSide a:nth-child(3) {
  border: 1px solid #4ad493;
  border-radius: 20px;
  background: #4ad493;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100px;
  height: 50px;
  margin-top: 5px;
}
.headerLeftSide a:nth-child(3):hover {
  background: #3db07a;
}
.headerLeftSide a:hover {
  color: black;
}

.headerCenter form input {
  width: 450px;
  height: 50px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid black;
  background: rgb(208, 206, 206);
}
.headerCenter form {
  height: 100%;
}
.headerRightSide button {
  border-radius: 5px 5px 5px 5px;
  background: #4ad493;
  border-color: #4ad493;
  width: 150px;
  height: 50px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}
.headerRightSide {
  display: flex;
}
.headerRightSide svg {
  width: 70px;
  height: 30px;
}
.headerRightSide svg:hover {
  border-bottom: 3px solid green;
}
.headerHr {
  width: 1300px;
  color: rgb(216, 197, 197);
}
.loginForm form {
  display: flex;
  flex-direction: column;
}
.loginForm form p {
  text-align: center;
  padding-top: 40px;
  color: #8c55aa;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
}
.loginForm form input {
  border-radius: 20px;
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}
.loginForm form button {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #ec6f66, #f3a183);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
/* .MuiBox-root {
  background-color: #ffffff;
  width: 400px;
  height: 400px; */
  /* margin: 7em auto; */
  /* border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  border: none !important;
} */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 160px;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 75px;
  right: 450px;
}
.show {
  display: flex;
  flex-direction: column;
}
.dropdown-content a {
  cursor: pointer;
  margin-left: 5px;
  line-height: 35px;
}
.dropdownTop {
  display: flex;
  justify-content: space-between;
  width: 140px;
  align-items: center;
}
.dropdownTop img {
  width: 35px;
  height: 35px;
}
.triangle {
  width: 25px;
  height: 25px;
  position: absolute;
  display: block;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  transform: rotate(45deg);
  top: 5%;
  right: 25%;
  z-index: 2;
}
